

		<!-- Main -->

<div id="main-wrapper">
	<div class="container">
		<div class="row">
			<div class="12u">
				<div id="banner">
					<!-- <a href="#"><img src="images/banner.jpg" alt="" /></a> -->
					<div class="caption">
						<a href="#register" class="button">Register you Car!</a>
					</div>
				</div>
			</div>
		</div>
	
      	<div id="list-wrapper">
			<div class="container" id="site-list">
				<div class="row">
					<div class="3u" id="site-list">
						<section class="first">
							<h2>Car Pool Available</h2>
							<div class="12u">
								<div class="divider divider-top"></div>
							</div>
							<ul class="link-list">
							  <div ng-repeat="car in cars" ng-click="requestVehicle(car.id)">{{car.from_location}} to {{car.to_location}} - {{car.no_of_available_seats}} 
							  	<span style="color: green">at {{car.travel_time | date : 'HH:mm'}}</span>
							  </div>
							</ul>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




