
 <div ng-include="'partials/header.html'"></div> 


		<!-- Main -->

<div id="main-wrapper">
	<div class="container">
		<div class="row">
			<div class="12u">
				<div id="banner">
					<!-- <a href="#"><img src="images/banner.jpg" alt="" /></a> -->
					<div class="caption">
						<a href="#" class="button">Register you Car!</a>
					</div>
				</div>
			</div>
		</div>
	
      	<div id="list-wrapper">
			<div class="container" id="site-list">
				<div class="row">
					<div class="3u" id="site-list">
						<section class="first">
							<h2>Car Pool Available</h2>
							<div class="12u">
								<div class="divider divider-top"></div>
							</div>
							<ul class="link-list">
								<li ng-repeat="car in cars"><a href="#">{{car.From}} to {{car.To}}</a></li>
							</ul>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<a href="#request"><h1>Request</h1></a>



