<h1>Register car</h1>

<div class="container">
  <div>From: <input type="text" ng-model="vehicle.from_location"></input></div>
  <div>To: <input type="text" ng-model="vehicle.to_location"></input></div>
  <div>Time: <input type="text" ng-model="vehicle.travel_time"></input></div>
  <div>Name: <input type="text" ng-model="vehicle.owner_name"></input></div>
  <div>Vehicle type: <input type="text" ng-model="vehicle.vehicle_type"></input></div>
  <div>Seats Available: <input type="text" ng-model="vehicle.no_of_avalable_seats"></input></div>
  <div>Email: <input type="email" ng-model="vehicle.owner_email"></input></div>
  <div>Travel Date: <input type="text" ng-model="vehicle.travel_date"></input></div>
  <button ng-click="registerVehicle()">Register</submit>
</div>